name: Generate CSV from Todoist

on:
  workflow_dispatch:  # Permite que o fluxo de trabalho seja acionado manualmente

jobs:
  run_python_script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install python-dotenv todoist-api-python requests

      - name: Run Python script
        env:
          YOUR_TODOIST_API_KEY: ${{ secrets.YOUR_TODOIST_API_KEY }}
        run: python todo1.py

      - name: Set up Git for commit
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'

      - name: Commit CSV to GitHub
        run: |
          git add tarefas1.csv
          git commit --allow-empty -m "Atualizando arquivo CSV de tarefas"
          git push  
          
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}  # Use o seu PAT aqui

      - name: Upload CSV as artifact (backup)
        uses: actions/upload-artifact@v2
        with:
          name: tarefas-csv
          path: tarefas1.csv  # Certifique-se de que o nome do arquivo corresponde ao que foi gerado no script

permissions:
  contents: write  # Define as permissões de gravação de conteúdo no repositório
