name: Generate CSV from Todoist

on:
  workflow_dispatch:  # Manually trigger the workflow

jobs:
  run_python_script:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install python-dotenv todoist-api-python requests

    - name: Run Python script
      env:
        YOUR_TODOIST_API_KEY: ${{ secrets.YOUR_TODOIST_API_KEY }}
      run: python todo1.py

    - name: Upload CSV as artifact
      uses: actions/upload-artifact@v2
      with:
        name: tarefas-csv
        path: tarefas1.csv  # Certifique-se de que o nome do arquivo corresponde ao que foi gerado no script
