name: Generate CSV from Todoist

on:
  workflow_dispatch:  # Manually trigger the workflow

jobs:
  run_python_script:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install python-dotenv todoist-api-python requests

    - name: Run Python script
      env:
        YOUR_TODOIST_API_KEY: ${{ secrets.YOUR_TODOIST_API_KEY }}
      run: |
        # Remover o arquivo CSV se ele existir
        if [ -f tarefas1.csv ]; then
          echo "Arquivo CSV existente encontrado. Removendo..."
          rm tarefas1.csv
        fi
        
        # Executar o script Python para criar um novo arquivo CSV
        python todo1.py
        
        # Verificar se o arquivo CSV foi criado
        if [ -f tarefas1.csv ]; then
          echo "Arquivo CSV gerado com sucesso."
        else
          echo "Erro: Arquivo CSV não encontrado."
          exit 1
        fi

    - name: Commit and Push CSV to GitHub
      run: |
        git config --global user.name 'GitHub Actions'
        git config --global user.email 'github-actions@github.com'
        # Verificar se há arquivos para adicionar
        if [ -f tarefas1.csv ]; then
          git add tarefas1.csv
          git commit -m "Atualizando arquivo CSV de tarefas" || echo "No changes to commit"
          git push origin main
        else
          echo "Erro: Arquivo CSV não encontrado, nada para adicionar."
        fi
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload CSV as artifact
      uses: actions/upload-artifact@v3
      with:
        name: tarefas-csv
        path: tarefas1.csv
